* {
    box-sizing: border-box;
    font-family: lato,Verdana, Geneva, Tahoma, sans-serif;
}

header {
    /* position: sticky; */
    background-color: crimson;
    color: linen;
}

header h1 {
    font-size: 50px;
    padding: 25px;
    text-align: center;
    margin: 0%;

}

h3, h4 {
    margin-bottom: 10px;
    text-transform: uppercase;
}

h3 {
    font-size: 35px;
    text-align: center;
    font-weight: 100;
    margin-top: 5px;
    margin-left: 20px;
}

h4 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    color: linen;
}

footer  {
    color: linen;
}

footer h1 {
    font-size: 40px;
    padding: 25px;
    text-align: center;
    background-color: crimson;
    margin: 0%;
}

/* div rows */

.row {
    display: flex;
}
  
  /* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
}
.column #box {
    max-width: 500px;
    width: 100%;
    padding: 15px;
    text-align: center;
    margin: auto;
}
.column p{

    color: rgb(60, 60, 66);
    padding: 5px 20px 1px 20px;
    font-size: 15px;
    text-align: justify;
}

  /* main */

.main{
    margin: auto;
    width: 100%;
 /*    max-width: 1000px; */
    top: 50%;
    left: 50%;
}

nav, .leftcolumn {
    flex: 25%;
    background-color: lightslategrey;
    color: magenta;
}

.sidenav {
    font-family: lato,Verdana, Geneva, Tahoma, sans-serif;  
    text-transform: uppercase;
    padding: 25px 40px 100px 40px;
    text-align: center;
    font-size: 16px;
    color: linen;
    background-color: maroon;
}

.sidenav a {
    color: rgb(196, 196, 196);  
}

.sidenav a:hover{
    color: linen;  
}

.sidenav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
  
.sidenav  li a {
    padding: 14px 16px;
    text-decoration: none;
}
  
img {
    width: 100%;
    max-width: 200px;
    float: right;
    padding: 10px;
}

.content {
    width: 50%;
}

aside p{
    border: 3px linen solid;
    text-align: center;
    padding: 10px;
    width: 60%;
    margin: 0px auto 10px auto  ;
    color: linen;
    background-color: maroon;
}

.aside, .asidebottom {
    flex: 25%;
    background-color: lightslategrey;
}
/* @media (max-width: 600px) {
    nav {
        background-color: lightgreen; 
    }
    }
}
*/

.topnav {
    font-family: lato,Verdana, Geneva, Tahoma, sans-serif;  
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: linen;
    background-color: rgb(68, 10, 10);
}

.topnav a {
    color: rgb(196, 196, 196);  
}

.topnav a:hover{
    color: linen;  
}

.topnav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.topnav  li {
    display: inline;
}
  
.topnav  li a {
    padding: 14px 16px;
    text-decoration: none;
    display: inline;
}
@media print { 
    /* All your print styles go here */
    .sidenav, .topnav, .aside, .leftcolumn, .asidebottom, img, footer { display: none; } 
   }


@media only screen and (max-width: 768px) {
    
    /* .sidenav {display: none;} */
    .topnav {display: block; }
    .leftcolumn {display: none;}
    .aside {display: none;}
    .asidebottom p{
        border: 3px linen solid;
        text-align: center;
        padding: 20px;
        width: 60%;
        margin: 0px auto 20px auto  ;
        color: linen;
        background-color: maroon;
    }

    .asidebottom {
        padding: 10px;
    }

    img {
        /* width: 300px; */
        max-width: 100%;
        float: right;
        padding: 10px;
    }

      }

@media only screen and (min-width: 769px) {

    /* .sidenav {display: block;} */
    .topnav {display: none; }
    .asidebottom {display: none;}
    
    img {
        width: 100%;
        max-width: 200px;
        float: right;
        padding: 10px;
    }

    }    
