* {
    box-sizing: border-box;
    font-family: lato,Verdana, Geneva, Tahoma, sans-serif;
}

header {
    position: sticky;
    background-color: crimson;
}

header h1 {
    font-size: 50px;
    padding: 25px;
    text-align: center;

}

h3 {
    font-size: 35px;
    margin-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: -10px;

}

h4 {
    font-size: 25px;
    margin-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 200;
    margin-top: -5px;


}

footer  {
    

}

footer h1 {
    font-size: 40px;
    padding: 25px;
    text-align: center;
    background-color: crimson;

}

/* div rows */

.row {
    display: flex;
    
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
  }
  .column25 {
    flex: 25%;
  }

  .column #box {

    max-width: 500px;
    width: 100%;
    padding: 15px;
    text-align: center;
    margin: auto;

  }
   .column p{

    color: blue;
    padding: 10px;

  }

  /* main */

.main{
    margin: auto;
    width: 100%;
    max-width: 1000px;
    top: 50%;
    left: 50%;
    
}

.sidenav a{
    color: crimson;
    margin-left: 15px;

}

nav {

    font-family: lato,Verdana, Geneva, Tahoma, sans-serif;  
    text-transform: uppercase;
    font-size: 12px;
  
  }
  
.sidenav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
.sidenav  li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  



img {
    width: 100%;
    max-width: 200px;
    float: right;
    padding: 10px;

}



.content {
    width: 50%;


}